<div id="<%= dom_id note %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Content:</strong>
    <%= note.content %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Customer:</strong>
    <%= note.customer_id %>
  </p>
  <% if action_name != "show" %>
    <%= link_to "Show this note", [note.customer, note], class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium" %>
    <%= link_to "Edit this note", [:edit, note.customer, note], class: "rounded-lg py-3 ml-2 px-5 bg-blue-600 text-white inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
